@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  background-color: #F8F8F8;
}

.fontOpenSans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.fontRoboto{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* For Big tablets */
  .note-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* 2 columns */
  }
  .search-bar{
    width: 60%;
  }
  .create-note{
    width: 80%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  /* For Small tablets */
  .note-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr)); /* 2 columns */
  }
  .note-card{
    width: 25rem;
    height: 20rem;
  }
  .search-bar-div{
    width: 50%;
  }
  .create-note{
    width: 70%;
  }
}

@media (max-width: 480px) {
  /* For mobile devices */
  .note-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr)); /* 1 column */
  }

  .search-bar-div{
    /* flex-grow: 1; */
    display: none;
  }
  .create-note{
    width: 85%;
  }
  
  .ri-search-line{
    display: none;
  }

}



/* grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 */